
.font1{
    color: white;
    font-size: 30px;
    margin-left: 6px;
}
.font2{
    color: white;
    font-size: 30px;
    margin-left: 6px;
}
.font3{
    color: white;
    font-size: 30px;
    margin-left: 6px;
    
}
.font4{
    color: white;
    font-size: 30px;
    margin-left: 6px;
    
    
}